@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
        /*theme color*/
		background-color:		#09469A;
		background-image:		-moz-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)),		url('images/bg01.png');
		background-image:		-webkit-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)),	url('images/bg01.png');
		background-image:		-o-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)),		url('images/bg01.png');
		background-image:		-ms-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)),		url('images/bg01.png');
		background-image:		linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)),			url('images/bg01.png');
		background-position:	top left,														top left;
		background-repeat:		repeat-x,														repeat;
		background-size:		100% 30em,														auto;
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
		
	body,input,select,textarea
	{
		font-family: 'Open Sans', sans-serif;
		font-size: 12pt;
		color: #222222;
		font-weight: 300;
	}
	
	a
	{
		color: #0085BC;
		text-decoration: underline;
	}
	
		a:hover
		{
			text-decoration: none;
		}
	
	h1, h2, h3, h4, h5, h6
	{
		color: #444;
		font-weight: 800;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		color: inherit;
		text-decoration: none;
		outline: 0;
	}

	b, strong
	{
		font-weight: 600;
		color: #444;
	}
	
	i, em
	{
		font-style: italic;
	}
	
	br.clear
	{
		clear: both;
	}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #eee;
	}
	
	blockquote
	{
		border-left: solid 0.5em #eee;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 2em;
	}

    .hidden-content { display: none; }
	
	/* Section/Article */
	
		section,
		article
		{
			margin-bottom: 5em;
		}
		
			section > :last-child,
			article > :last-child
			{
				margin-bottom: 0;
			}

			section:last-child,
			article:last-child
			{
				margin-bottom: 0;
			}

		header
		{
			margin: 0 0 0.5em 0;
		}
		
			header h2, header h3
			{
				margin: 0 0 0.25em 0;
			}
			
			header p
			{
				margin: 0;
			}

		footer
		{
			margin: 2.5em 0 0 0;
		}

	/* Forms */

		form
		{
		}
		
			form label
			{
				display: block;
				font-weight: 800;
				margin: 0 0 1em 0;
				font-size: 0.8em;
				color: #444;
			}
		
			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select,
			form textarea
			{
				-webkit-appearance: none;
				display: block;
				width: 100%;
				border-radius: 8px;
				border: solid 1px #20C0E5;
			}

				form input[type="text"]:focus,
				form input[type="email"]:focus,
				form input[type="password"]:focus,
				form select:focus,
				form textarea:focus
				{
					border-color: #0090c5;
				}

			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select
			{
				line-height: 3em;
				padding: 0 1em;
			}
				
			form textarea
			{
				min-height: 9em;
				padding: 1em;
			}

			form .formerize-placeholder
			{
				color: rgba(112, 192, 229, 0.9) !important;
			}

			form ::-webkit-input-placeholder
			{
				color: rgba(112, 192, 229, 0.9) !important;
			}

			form :-moz-placeholder
			{
				color: rgba(112, 192, 229, 0.9) !important;
			}

			form ::-moz-placeholder
			{
				color: rgba(112, 192, 229, 0.9) !important;
			}

			form :-ms-input-placeholder
			{
				color: rgba(112, 192, 229, 0.9) !important;
			}

			form ::-moz-focus-inner
			{
				border: 0;
			}

    /* Form Messages */
    .message.Bad,
    .message.bad,
    .message
    { color: red; }

    .message.Good,
    .message.good 
    { color: green; }

    /* Login Form */
    .action.login-button {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }

    #register-button {
        margin-left: 30%;
        width: 40%;
        text-align: center;
    }

	/* Tables */
	
		table
		{
			width: 100%;
		}
		
			table.default
			{
				width: 100%;
			}

				table.default tr
				{
					border-top: solid 1px #eee;
				}

					table.default tr:first-child
					{
						border-top: 0;
                        background-color: #C7C7C7;
					}
			
				table.default td
				{
					padding: 0.5em 1em 0.5em 1em;
				}
				
				table.default th
				{
					text-align: left;
					padding: 0.5em 1em 0.5em 1em;
					font-weight: 800;
					margin: 0 0 1em 0;
				}
			
				table.default thead
				{
					background: #0D0D82;
					color: #fff;
				}
				
				table.default tfoot
				{
				}
				
				table.default tbody
				{
				}
        table.mini-forum tr td:first-child {width: 40%;}
 
	/* Image */

		.image
		{
			display: inline-block;
			outline: 0;
		}
		
			.image img
			{
				display: block;
				width: 100%;
				border-radius: 8px;
			}

			.image.fit
			{
				display: block;
				width: 100%;
			}
		
			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2.5em 0;
			}
		
			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
		
			.image.centered
			{
				display: block;
				margin: 0 0 2.5em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

            img.header-img
            {
                height: 0.8em;
                width: 1em;
                border-radius: 8px;
                padding-right: 5px;
            }

            img.profile-picture
            {
                border: 1px black solid;
                -webkit-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
                -moz-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
                box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
            }

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			-webkit-appearance: none;
			position: relative;
			display: inline-block;
            /*theme color*/
			background: #4F87D4;
			color: #fff;
			text-decoration: none;
			border-radius: 6px;
			font-weight: 800;
			outline: 0;
			border: 0;
			cursor: pointer;
			-moz-transition: background-color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out;
			-o-transition: background-color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out;
			transition: background-color .25s ease-in-out;
		}
		
			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover
			{
				background: #2E70CC;
			}
		
			input[type="button"]:active,
			input[type="submit"]:active,
			input[type="reset"]:active,
			.button:active
			{
				background: #2E70CC;
			}
		
			.button.icon
			{
			}
			
				.button.icon:before
				{
					position: relative;
				}
		
			input[type="button"].alt,
			input[type="submit"].alt,
			input[type="reset"].alt,
			.button.alt
			{
				background: #f1f1f1;
				background: rgba(0,0,0,0.05);
				color: #444;
			}

				input[type="button"].alt:hover,
				input[type="submit"].alt:hover,
				input[type="reset"].alt:hover,
				.button.alt:hover
				{
					background: #e8e8e8;
					background: rgba(0,0,0,0.085);
				}

				input[type="button"].alt:active,
				input[type="submit"].alt:active,
				input[type="reset"].alt:active,
				.button.alt:active
				{
					background: #e4e4e4;
					background: rgba(0,0,0,0.15);
				}

            .checkbox input[type=checkbox]
            {
                margin: 0;
            }

    /* Mini Forum Topic Button */
    a.mini-forum-button {
        padding: 0.3em;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1em;
        vertical-align: middle;
        letter-spacing: 0;
    }
    td.mini-forum-button {
        vertical-align: middle;
        text-align: center;
    }

	/* List */

		ul
		{
		}

			ul.default
			{
				list-style: disc;
				padding-left: 1em;
			}
			
				ul.default li
				{
					padding-left: 0.5em;
				}

			ul.actions
			{
			}

				ul.actions li
				{
					display: inline-block;
					padding: 0 0 0 0.25em;
					margin: 0 0 0 0.25em;
				}
				
					ul.actions li:first-child
					{
						margin-left: 0;
						padding-left: 0;
					}
				
			ul.menu li
			{
				border-left: solid 1px #e0e0e0;
				display: inline-block;
				padding: 0 0 0 0.75em;
				margin: 0 0 0 0.75em;
			}

				ul.menu li:first-child
				{
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

.pagination {
    padding-right: auto;
    padding-left: 40%;
}

ul.PageNumbers {
    text-align: center;
}

ul.PageNumbers li {
    display: inline-block;
    padding: 0.2em;
}

ul.PageNumbers li a:hover {
    font-weight: bold;
    text-shadow: -2px 2px #000;
}

ul.PageNumbers li a {
    text-decoration: none;
    font-size: 1.6em;
    display: block;
}

ul.PageNumbers li a.disabled {
    color: black;
}

ul.PageNumbers li a.disabled:hover {
    font-weight: normal;
    text-shadow: none;
}

ul.blog-topics li {
    background-color: #FFEF25;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

ul.blog-topics li:hover {
    background-color: #FFEF55;
}

ul.blog-topics li:first-child {
    background-color: white;
}

ul.blog-topics li.selected {
    margin-left: 1em;
    background-color: #FFFE05
}

ul.blog-topics li a {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
}

.tagcloud .not-popular { font-size: .9em; }
.tagcloud .not-very-popular { font-size: 1em; }
.tagcloud .somewhat-popular { font-size: 1.3em; }
.tagcloud .popular { font-size: 1.6em; }
.tagcloud .very-popular { font-size: 1.9em; }
.tagcloud .ultra-popular { font-size: 2.2em; }

		ol
		{
		}	

			ol.default
			{
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li
				{
					padding-left: 0.25em;
				}
	
	/* Box */	
	
		.box
		{
			background: #fff;
			border-radius: 6px;
			box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.015);
			box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
		}

/*********************************************************************************/
/* Welcome Page                                                                       */
/*********************************************************************************/

.welcome_updates h2.update_title {
    text-align: center;
    margin: 0.25em;
    padding: 0;
}

article.home_page {
    margin-top: -2.5em;
}

/*********************************************************************************/
/* Content Boxes                                                                       */
/*********************************************************************************/


.content-box-dark {
    /*theme color*/
    background-color: #6FA7E4;
    margin-top: 10px;
    border-radius: 15px;
    -webkit-border-raduis: 15px;
    -moz-border-radius: 15px;
    -webkit-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
    box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
}

.content-box-light {
    /*theme color*/
    background-color: #8FB7F4;
    margin-top: 10px;
    border-radius: 15px;
    -webkit-border-raduis: 15px;
    -moz-border-radius: 15px;
    -webkit-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
    box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
}

.small-content-box {
    /*theme color*/
    background-color: white;
    margin: 10px;
    padding: 1em 1em 1em 1em;
    border-radius: 15px;
    -webkit-border-raduis: 15px;
    -moz-border-radius: 15px;
    -webkit-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
    box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
}

.gutters-fix {
    padding: 20px;
}

/*********************************************************************************/
/* Slideshow                                                                        */
/*********************************************************************************/

#slideshow-overlay {
    position: relative;
    z-index: 501;
    /*margin-top: -50%;*/
}

#slideshow-overlay div.text {
    background-color: rgba(255,255,255,0.6);
    margin: 1em;
    padding: 0.5em;
}

#slideshow{
	background-color:white;
	position:relative;
    background-color: transparent;
}

#slideshow ul{
	list-style:none outside none;
	overflow:hidden;
}

#slideshow li{
	display:none;
	z-index:10;
}

#slideshow li:first-child{
	display:block;
	z-index:500;
}

#slideshow img {
    max-width: 120%;
    max-height: auto;
    display: block;
}

#slideshow .slideActive{
	z-index:1000;
}

/*********************************************************************************/
/* End of Slideshow                                                                         */
/*********************************************************************************/

/*********************************************************************************/
/* Partner Profile Page                                                                   */
/*********************************************************************************/

.slidesjs-container {
}
    
#slides {
    display: none;
}

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

#slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

/*
    #slides a.slidesjs-stop,
    #slides a.slidesjs-stop {
        display: none !important;
    }
*/

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

#university-programs {
    margin-left: 2em;
}

#university-programs ul li {
    margin-left: 2em;
}

#university-links li a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

/*********************************************************************************/
/* Profile Page                                                                        */
/*********************************************************************************/
.picture-overlay {
    margin-top: -25%;
    left: 0; 
    width: 100%;
    z-index: 1000;
    text-align: center;
    background-color: #f7f7f7;
    opacity: 0.5;
    color: #000;
}

.picture-overlay a {
    text-decoration: none;
}

.picture-overlay a:hover {
    color: #777;
}

h2.content-slider {
    margin-bottom: 0.5em;
}

h2.content-slider:hover,
h1.content-slider:hover {
    color: #888888;
    cursor: pointer;
    cursor: hand;
}
    

/*********************************************************************************/
/* User Vertical Menu                                                                         */
/*********************************************************************************/
    
    .user_menu {
        /*font: normal normal 90% sans-serif;*/
        max-width: 100%;
        margin: 0;
        background: #ffffff;
        text-align: center;
        padding-top: 1em;
        align-content: center;
    }

    .user_menu ul {
        list-style: none;
        margin: 0; padding: 0;
        text-align: center;
        width: 100%;
    }
    .user_menu > ul {
        margin: 0px;
        @include box-shadow(0 0 25px #000);
    }
    .user_menu > ul > li {
        position: relative;
    }
    .user_menu > ul > li > a {
        display: block;
        outline: 0;
        padding: .4em .8em;
        text-decoration: none;
        color: #666;
        font-weight: bold;
        @include text-shadow(#111 0 -1px);
        /*theme color*/
        background: #FCDF15;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        @include box-shadow(inset 0 1px 0 0 rgba(250,250,250,0.1));
        @include background-image(linear-gradient(#444, #333));
        @include filter-gradient(#444, #333, horizontal);
        border-bottom: 1px solid #222;
    }
    .user_menu > ul > li > a:hover {
        /*theme color*/
        background: #FFEF25;
    }
    .user_menu > ul > li > ul {
        height: 0;
        overflow: hidden;
        /*theme color*/
        background: #FFEF25;
        color: #333;
        font-size: .75em;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        @include box-shadow(inset 0 0 50px #BBB);
    }
    .user_menu > ul > li > ul > li {
        padding: .5em 1.3em;
        color: #666;
        text-align: left;
        margin: .5em .5em;
        padding: 0;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
    }
    .user_menu > ul > li > ul > li:hover {
        background: #f0f0f0;
    }
    .user_menu > ul > li > ul > li > a {
        display: block;
        text-decoration: none;
        font-weight: bold;
        color: #666;
        margin-left: 1em;
    }

    #account-settings-menu > ul > li > ul {
        height: 0;
        overflow: hidden;
    }
    
/*********************************************************************************/
/* Student Sidebar Text                                                          */
/*********************************************************************************/
    #student-view-info-box {
        /*theme color*/
        background-color: #FFEF25;
        padding: 10px;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
    }

    .student-sidebar-text {
        /*theme color*/
        color: #0F5AC8;
        font-size: 1.2em;
    }

/*********************************************************************************/
/* Profile Heading                                                               */
/*********************************************************************************/
        
    .profile-heading > ul li {
        margin: 0px;
        padding: 0px;
    }

    
/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/*********************************************************************************/
/* Widgets                                                                       */
/*********************************************************************************/

	.widget
	{
	}

		.widget.links
		{
		}

		.widget.thumbnails
		{
		}

			.widget.thumbnails .grid
			{
				margin-bottom: 2.5em;
			}

		.widget.contact
		{
		}
		
			.widget.contact ul
			{
				overflow: hidden;
				position: relative;
				left: -4px;
				top: 4px;
				margin-bottom: 1.5em;
			}
			
				.widget.contact ul li
				{
					display: inline-block;
					margin-right: 0.25em;
				}

					.widget.contact ul li a
					{
						display: inline-block;
						width: 2.5em;
						height: 2.5em;
						text-align: center;
						line-height: 2.5em;
						border-radius: 0.35em;
						outline: 0;
						opacity: 0.75;
						text-decoration: none;
						background: #222222;
						-moz-transition: background-color .25s ease-in-out;
						-webkit-transition: background-color .25s ease-in-out;
						-o-transition: background-color .25s ease-in-out;
						-ms-transition: background-color .25s ease-in-out;
						transition: background-color .25s ease-in-out;
					}
					
						.widget.contact ul li a:before
						{
							color: #f3f3f3;
							font-size: 1.75em;
							line-height: 1.5em;
						}

						.widget.contact ul li a:hover
						{
							background: #444444;
						}
					
						.widget.contact ul li a:active
						{
							background: #666666;
						}
				
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#banner-wrapper
	{
	}
	
	#main-wrapper
	{
		background: #FCFCFC;
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.05);
	}
	
	#footer-wrapper
	{
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
	}

     

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		overflow: hidden;
	}

		#logo h1
		{
			background: #4F87D4;
			color: #fff;
			border-radius: 6px;
			font-family: 'Oleo Script', serif;
			font-weight: 400;
		}
		
		#logo span
		{
			font-weight: 800;
		}

        #logo a.site-title
        {
            border-left: 2px solid #000000;
            padding-left: 5px;
        }
	
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
	}


/*********************************************************************************/
/* Tabbed Content                                                                        */
/*********************************************************************************/

        ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
            margin-top: 2em;
		}
		ul.tabs li{
			background: none;
			color: black;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
		}

        ul.tabs li#search-bar {
            float: right;
        }

		ul.tabs li.current{
			background: white;
			color: black;
            -webkit-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
            -moz-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
            box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
		}

		.tab-content{
			display: none;
			background: white;
			padding: 15px;
            margin-bottom: 2.5em;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
		}

		.tab-content.current{
			display: inherit;
            -webkit-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
            -moz-box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
            box-shadow: 6px -4px 7px -4px rgba(0,0,0,0.4);
		}

.university-links {
    text-align: center;
}
	
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		margin-top: 0;
        color: #FFE150;
	}

    #footer h3 {
        color: #FFD300;
    }
	
		#footer a
		{
			color: inherit;
		}
	
	#copyright
	{
		color: #aaa;
	}
	
		#copyright a
		{
			color: inherit;
		}



.no-padding {padding: 0;}
.no-margin {margin: 0;}